@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: #efc6dd;
  --text-secondary: #000000;
  --background-primary: #30282c;
  --background-secondary: #abd9f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-secondary: #30282c;
    --text-secondary: #efc6dd;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

  color: var(--text-secondary);
  background: var(--background-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
